header
  a(href="index.html").logo-link
    span(role="img").logo
  .dropdown
    .profile.profile_light.profile_sm
      .profile__img
        img(src=require('../../img/user_image.jpg'), alt="user")
      .profile__inner
        .profile__name.text_primary Alise
        .profile__text.text_secondary Wrike Team
    .dropdown__icon
    .dropdown__list
      .dropdown__title Wrike team
      .dropdown__item Profile Settings
      .dropdown__item Team directory
      .dropdown__item Apps & Integrations
      .dropdown__item Mobile apps
      .dropdown__item Help
      hr
      .dropdown__item Log out


