extends model/layout.pug

block title
  title

block content
  main
    aside.menu
      .menu__container
        .menu__section
          .menu__heading
            .menu__icon.icon__user_light
            span Personal settings
          a(href="profile_details.html").menu__item.menu__item_active Profile details
          a.menu__item Account info
          a.menu__item Email preferences
          a.menu__item Work schedule
          a.menu__item Password & security
          a.menu__item Apps access
        .menu__section
          .menu__heading
            .menu__icon.icon__settings_light
            span ACCOUNT MANAGMENT
          a.menu__item Subscription
          a.menu__item Billing
          a.menu__item Users & groups
          a.menu__item Request form builder
          a.menu__item Custom workflows
          a.menu__item Activity reports
          a.menu__item Calendars
          a.menu__item Account settings
          a.menu__item Advanced security
    .content
      h1 Profile details
      section#personal-info.section
        .row
          .profile
            .profile__img
              img(src=require('../img/user_image.jpg'), alt="user")
              .profile__overflow upload
            .profile__inner
              h2.profile__name Alise
              .profile__text.text_primary UI developer (crafting Team)
        .row
          .col
            .form-group
              input(type="text" placeholder="First name" value="Alise")#first_name
              label(for="#first_name") First name
          .col
            .form-group
              input(type="text" disabled value="Smith" placeholder="Last name")#last_name
              label(for="#last_name") Last name
        .row
          .col
            .form-group
              input(type="text" placeholder="Company name")#company_name
              label(for="#company_name") Company name
          .col
            .form-group.form-group_error
              input(type="text" placeholder="Job title")#job_title
              label(for="#job_title") Job title
        .row
          .col
            .form-group
              input(type="text" placeholder="Location")#location
              label(for="#location") Location
          .col
            .form-group
              input(type="text" placeholder="Phone number")#phone_number
              label(for="#phone_number") Phone number
        .row
          .col
            .button-group
              button.button.button_primary Save changes
              button.button.button_secondary Cancel
      section#workspace_settings.section
        h2.section_heading Workspace settings
        .row
          .col
            .form-group
              .custom-select(data-placeholder="Select time zone" tabindex="0")
                select#time_zone
                  option(value="GMT+1") (GMT +1) Central European Time
                  option(value="GMT+2") (GMT +2) Eastern European Time
                  option(value="GMT+3") (GMT +3) Moscow Time
                  option(value="GMT+4") (GMT +4) Samara Time
                  option(value="GMT+5") (GMT +5) Yekaterinburg Time
              label(for="#time_zone") Time zone
          .col
            .form-group
              .custom-select(data-placeholder="Select language" tabindex="0")
                select#language
                  option(value="GMT+1") (GMT +1) Central European Time
                  option(value="GMT+2") (GMT +2) Eastern European Time
                  option(value="GMT+3") (GMT +3) Moscow Time
                  option(value="GMT+4") (GMT +4) Samara Time
                  option(value="GMT+5") (GMT +5) Yekaterinburg Time
              label(for="#language") Language
        .row
          .col
            .form-group
              .custom-select(data-placeholder="Select new task created by default as" tabindex="0")
                select#new_task
                  option(value="GMT+1") (GMT +1) Central European Time
                  option(value="GMT+2") (GMT +2) Eastern European Time
                  option(value="GMT+3") (GMT +3) Moscow Time
                  option(value="GMT+4") (GMT +4) Samara Time
                  option(value="GMT+5") (GMT +5) Yekaterinburg Time
              label(for="#new_task") New task created by default as
