@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100wh;
}

header {
  position: relative;
  z-index: 215;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: #284159;
}

.section {
  margin: $offset-32 0;
}

.section_heading {
  margin-bottom: $offset-16;
}

h1,
h2,
h3 {
  color: rgba(0, 0, 0, 0.90);
  letter-spacing: 0;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 28px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 28px;
}

.text_primary {
  font-size: 14px;
  line-height: 22px;
}

.text_secondary {
  font-size: 12px;
  line-height: 22px;
}

.text_primary,
.text_secondary {
  color: rgba(0, 0, 0, 0.90);
  letter-spacing: 0;
  font-weight: 400;
}

hr {
  height: 1px;
  border: none;
  width: 100%;
  background-color: #989A9C;
}

.logo-link {
  text-decoration: none;
  align-self: flex-start;
}

.logo {
  position: relative;
  display: inline-flex;
  width: 65px;
  height: 22px;
  margin: 15px 0 0 $offset-32;
  background-image: url(../img/logo__legacy_icon.svg);
}

.profile {
  display: flex;
  align-items: center;

  &_light {
    .profile__name {
      color: #fff;
      opacity: 0.9;
    }

    .profile__text {
      color: #fff;
      opacity: 0.64;
    }
  }

  &_sm {
    .profile__img {
      height: 32px;
      width: 32px;
    }
  }

  &__img {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover .profile__overflow {
      opacity: 1;
    }
  }

  &__overflow {
    @extend .text_secondary;

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.16);
    color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    cursor: pointer;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    margin: 0 $offset-4 0 $offset-8;
  }
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: $offset-16;
  user-select: none;

  &::after {
    @extend .icon__arrow_light;

    content: '';
    background-size: cover;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: rotate(180deg);
  }

  &__list {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 200;
    display: flex;
    flex-direction: column;
    width: 264px;
    padding: $offset-8 26px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    visibility: hidden;
  }

  &__title {
    @extend .text_secondary;

    color: rgba(0, 0, 0, 0.32);
    letter-spacing: 0;
    text-align: left;
    font-weight: 600;
  }

  &__item {
    @extend .text_primary;

    display: flex;
    align-items: center;
    height: 32px;
    color: rgba(0, 0, 0, 0.90);
    text-align: left;
    cursor: pointer;
  }

  &:hover &__list {
    visibility: visible;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  position: relative;
  display: flex;
  height: calc(100vh - 56px);
  background-color: #284159;
}

.menu {
  z-index: 5;
  display: flex;
  width: 256px;

  &__container {
    position: relative;
    flex: 1;
    flex-direction: column;
  }

  &__section {
    @extend .text_secondary;

    padding-right: $offset-32;
    color: rgba(255, 255, 255, 0.90);
    text-transform: uppercase;
  }

  &__heading {
    display: inline-flex;
    align-items: center;
    height: 32px;
  }

  &__icon {
    height: 16px;
    width: 16px;
    margin: 0 $offset-8 0 $offset-16;
    background-size: cover;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-left: 40px;
    width: 100%;
    height: 32px;
    border-radius: 2px;
    text-transform: none;

    &_active {
      background-color: #4488FF;
    }

    &:hover {
      background-color: #4488FF;
      cursor: pointer;
    }
  }

}
.icon {
  height: 16px;
  width: 16px;
}

.icon__user_light {
  @extend .icon;
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EUI/16/user-small_icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M13,14 L12,14 C12,11.790861 10.209139,10 8,10 C5.790861,10 4,11.790861 4,14 L3,14 C3,11.2385763 5.23857625,9 8,9 C10.7614237,9 13,11.2385763 13,14 Z M11,5 C11,6.65 9.665,8 8,8 C6.35,8 5,6.65 5,5 C5,3.35 6.35,2 8,2 C9.665,2 11,3.35 11,5 Z M10,5 C10,3.89636609 9.10672483,3 8,3 C6.9018278,3 6,3.9018278 6,5 C6,6.0981722 6.9018278,7 8,7 C9.10672483,7 10,6.10363391 10,5 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='UI/16/user-small' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='user-small' fill-rule='nonzero'%3E%3C/g%3E%3Cg id='colors/MAIN/black' mask='url(%23mask-2)' fill='%23ffffff' fill-opacity='0.9' opacity='0.900000036'%3E%3Crect id='color' x='0' y='0' width='16' height='16' rx='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon__settings_light {
  @extend .icon;
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EUI/16/settigns-gearwheel_icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M11.0006164,10.9176097 L11.2931633,11.0788682 L11.5106929,11.1987771 L12.7701192,11.8890948 C12.8357595,11.9249357 12.9195519,11.9034671 12.9576267,11.8406329 L13.981464,10.1556252 C13.9995128,10.1266738 14.0045587,10.092046 13.9954675,10.0595249 C13.9863764,10.0270038 13.963911,9.9993179 13.9299373,9.9809566 L12.6710567,9.28980673 L12.16174,9.00905985 L12.1987035,8.69169672 L12.226593,8.45224291 C12.2619754,8.15069247 12.2619754,7.84634016 12.2263213,7.54242212 L12.16384,6.98533352 L12.4559537,6.82637277 L12.6738944,6.70777918 L13.9316015,6.01727469 C13.9631182,5.99993575 13.9860824,5.97139957 13.9954309,5.9379578 C14.0047794,5.90451603 13.9997445,5.86891485 13.9806759,5.83775705 L12.9569983,4.15387624 C12.939639,4.12459754 12.9106379,4.10316279 12.8764977,4.09437811 C12.8423575,4.08559342 12.8059347,4.09019382 12.7729233,4.10851184 L11.5138474,4.79863502 L11.0026788,5.08040271 L10.730462,4.88969838 L10.5243439,4.74529362 C10.2714032,4.56635586 9.99597406,4.4155137 9.69888657,4.29350126 L9.16065383,4.06622953 L9.16065383,2.12736744 C9.16065383,2.0581829 9.0988763,2 9.02143725,2 L6.97959399,2 C6.89943415,2 6.84140863,2.05488732 6.84140863,2.12736744 L6.84140863,4.06981003 L6.53168886,4.19797529 L6.3009465,4.2934569 C6.00922449,4.41507262 5.73282487,4.5674746 5.47578484,4.74861445 L4.99938363,5.08236221 L4.70683671,4.92110371 L4.48930705,4.80119474 L3.22988084,4.1108771 C3.16424053,4.07503616 3.08044811,4.09650481 3.04237334,4.15933901 L2.01853601,5.84434668 C2.00048725,5.87329803 1.99544135,5.90792587 2.00453247,5.94044696 C2.01362358,5.97296806 2.036089,6.00065398 2.07006267,6.01901528 L3.32894334,6.71016515 L3.83825996,6.99091203 L3.8012965,7.30827516 L3.77340702,7.54772896 C3.73802465,7.84927941 3.73802465,8.15363172 3.77367869,8.45754976 L3.83615997,9.01463836 L3.54404634,9.17359911 L3.32610564,9.2921927 L2.06839852,9.98269719 C2.03688179,10.0000361 2.0139176,10.0285723 2.00456911,10.0620141 C1.99522063,10.0954559 2.00025552,10.131057 2.01932412,10.1622148 L3.04300169,11.8460956 C3.060361,11.8753743 3.08936209,11.8968091 3.12350231,11.9055938 C3.15764252,11.9143785 3.19406533,11.9097781 3.22707667,11.89146 L4.48615264,11.2013369 L4.99732116,10.9195692 L5.26953805,11.1102735 L5.47378924,11.2533638 C5.72978678,11.432766 6.00618133,11.584286 6.30111343,11.7064706 L6.83934617,11.9337424 L6.83934617,12.2520988 L6.83934039,13.8702852 C6.83969861,13.9421713 6.90126384,14.0002023 6.97856275,13.9999719 L9.02636622,13.9999943 C9.06166523,14.0003149 9.09562866,13.987189 9.12066884,13.963549 C9.14570902,13.9399091 9.15973933,13.907725 9.1596226,13.8726044 L9.1596226,11.9337424 L9.46582769,11.8044456 L9.70082259,11.7052283 C9.95723824,11.5987849 10.2018719,11.468571 10.4311881,11.3165285 L11.0006164,10.9176097 Z M10.1811147,12.5835709 L10.1811126,13.8880357 C10.1821131,14.184447 10.0590208,14.4688915 9.83933531,14.6778227 C9.61964986,14.8867539 9.321678,15.0027611 9.01689558,14.9999501 L6.98473205,14.9999476 C6.34303164,15.001895 5.82090187,14.506107 5.81785809,13.8896228 L5.81785809,12.5835987 C5.51099877,12.449891 5.21829517,12.2882381 4.94383674,12.1009049 L3.7637999,12.7524713 C3.49587477,12.9023115 3.17632592,12.94297 2.87680304,12.8653305 C2.57728015,12.787691 2.32284438,12.5982495 2.17328936,12.3440863 L1.15766415,10.6611763 C1.00239399,10.4056297 0.959693488,10.1014711 1.03897726,9.81576138 C1.11826103,9.53005164 1.31301842,9.28625275 1.58070587,9.13789796 L2.7630831,8.48396469 C2.73107145,8.16224046 2.73114613,7.83834785 2.76327814,7.51692595 L1.58592848,6.86575578 C1.31579622,6.71879797 1.11870003,6.47410829 1.03894077,6.18668508 C0.959181522,5.89926188 1.0034508,5.5932192 1.15889557,5.34209659 L2.17497728,3.65745277 C2.49532615,3.12487939 3.20596283,2.941462 3.76339148,3.24807599 L4.94569538,3.90090402 C5.21983527,3.71283063 5.51232167,3.55041744 5.81991139,3.41557594 L5.81991139,2.11032732 C5.81991139,1.49400018 6.33833074,1 6.98413107,1 L9.01689558,1 C9.65899531,1 10.1821419,1.4963421 10.1821419,2.11032732 L10.1821419,3.41610288 C10.4908223,3.54965668 10.7841717,3.7115556 11.0564885,3.89886562 L12.2362001,3.2474788 C12.5041252,3.09763863 12.8236741,3.05698003 13.123197,3.13461955 C13.4227198,3.21225907 13.6771556,3.40170058 13.8267106,3.65586376 L14.8423359,5.33877376 C14.997606,5.59432034 15.0403065,5.89847895 14.9610227,6.1841887 C14.881739,6.46989844 14.6869816,6.71369733 14.4192941,6.86205212 L13.2369169,7.51598539 C13.2689285,7.83770962 13.2688539,8.16160223 13.2367219,8.48302413 L14.4140715,9.1341943 C14.6842038,9.28115211 14.8813,9.52584179 14.9610592,9.813265 C15.0408185,10.1006882 14.9965492,10.4067309 14.8411044,10.6578535 L13.8250227,12.3424973 C13.5046739,12.8750707 12.7940372,13.0584881 12.2366085,12.7518741 L11.0555381,12.0997271 C10.7802685,12.2879666 10.4868062,12.4502656 10.1811147,12.5835709 Z M8,11 C6.34314575,11 5,9.65685425 5,8 C5,6.34314575 6.34314575,5 8,5 C9.65685425,5 11,6.34314575 11,8 C11,9.65685425 9.65685425,11 8,11 Z M8,10 C9.1045695,10 10,9.1045695 10,8 C10,6.8954305 9.1045695,6 8,6 C6.8954305,6 6,6.8954305 6,8 C6,9.1045695 6.8954305,10 8,10 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='UI/16/settigns-gearwheel' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='gear-shape' fill-rule='nonzero'%3E%3C/g%3E%3Cg id='colors/MAIN/black' mask='url(%23mask-2)' fill='%23ffffff' fill-opacity='0.9' opacity='0.900000036'%3E%3Crect id='color' x='0' y='0' width='16' height='16' rx='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon__arrow_light {
  @extend .icon;
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EUI/16/arrows/down-semibold_icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='8 8.5 11 5.5 12 6.5 8 10.5 4 6.5 5 5.5'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='UI/16/arrows/down-semibold' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='arrow_down' fill-rule='nonzero'%3E%3C/g%3E%3Cg id='colors/MAIN/black' mask='url(%23mask-2)' fill='%23ffffff' fill-opacity='0.9' opacity='0.900000036'%3E%3Crect id='color' x='0' y='0' width='16' height='16' rx='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon__user_dark {
  @extend .icon;
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EUI/16/user-small_icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M13,14 L12,14 C12,11.790861 10.209139,10 8,10 C5.790861,10 4,11.790861 4,14 L3,14 C3,11.2385763 5.23857625,9 8,9 C10.7614237,9 13,11.2385763 13,14 Z M11,5 C11,6.65 9.665,8 8,8 C6.35,8 5,6.65 5,5 C5,3.35 6.35,2 8,2 C9.665,2 11,3.35 11,5 Z M10,5 C10,3.89636609 9.10672483,3 8,3 C6.9018278,3 6,3.9018278 6,5 C6,6.0981722 6.9018278,7 8,7 C9.10672483,7 10,6.10363391 10,5 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='UI/16/user-small' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='user-small' fill-rule='nonzero'%3E%3C/g%3E%3Cg id='colors/MAIN/black' mask='url(%23mask-2)' fill='%23000000' fill-opacity='0.9' opacity='0.900000036'%3E%3Crect id='color' x='0' y='0' width='16' height='16' rx='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon__settings_dark {
  @extend .icon;
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EUI/16/settigns-gearwheel_icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M11.0006164,10.9176097 L11.2931633,11.0788682 L11.5106929,11.1987771 L12.7701192,11.8890948 C12.8357595,11.9249357 12.9195519,11.9034671 12.9576267,11.8406329 L13.981464,10.1556252 C13.9995128,10.1266738 14.0045587,10.092046 13.9954675,10.0595249 C13.9863764,10.0270038 13.963911,9.9993179 13.9299373,9.9809566 L12.6710567,9.28980673 L12.16174,9.00905985 L12.1987035,8.69169672 L12.226593,8.45224291 C12.2619754,8.15069247 12.2619754,7.84634016 12.2263213,7.54242212 L12.16384,6.98533352 L12.4559537,6.82637277 L12.6738944,6.70777918 L13.9316015,6.01727469 C13.9631182,5.99993575 13.9860824,5.97139957 13.9954309,5.9379578 C14.0047794,5.90451603 13.9997445,5.86891485 13.9806759,5.83775705 L12.9569983,4.15387624 C12.939639,4.12459754 12.9106379,4.10316279 12.8764977,4.09437811 C12.8423575,4.08559342 12.8059347,4.09019382 12.7729233,4.10851184 L11.5138474,4.79863502 L11.0026788,5.08040271 L10.730462,4.88969838 L10.5243439,4.74529362 C10.2714032,4.56635586 9.99597406,4.4155137 9.69888657,4.29350126 L9.16065383,4.06622953 L9.16065383,2.12736744 C9.16065383,2.0581829 9.0988763,2 9.02143725,2 L6.97959399,2 C6.89943415,2 6.84140863,2.05488732 6.84140863,2.12736744 L6.84140863,4.06981003 L6.53168886,4.19797529 L6.3009465,4.2934569 C6.00922449,4.41507262 5.73282487,4.5674746 5.47578484,4.74861445 L4.99938363,5.08236221 L4.70683671,4.92110371 L4.48930705,4.80119474 L3.22988084,4.1108771 C3.16424053,4.07503616 3.08044811,4.09650481 3.04237334,4.15933901 L2.01853601,5.84434668 C2.00048725,5.87329803 1.99544135,5.90792587 2.00453247,5.94044696 C2.01362358,5.97296806 2.036089,6.00065398 2.07006267,6.01901528 L3.32894334,6.71016515 L3.83825996,6.99091203 L3.8012965,7.30827516 L3.77340702,7.54772896 C3.73802465,7.84927941 3.73802465,8.15363172 3.77367869,8.45754976 L3.83615997,9.01463836 L3.54404634,9.17359911 L3.32610564,9.2921927 L2.06839852,9.98269719 C2.03688179,10.0000361 2.0139176,10.0285723 2.00456911,10.0620141 C1.99522063,10.0954559 2.00025552,10.131057 2.01932412,10.1622148 L3.04300169,11.8460956 C3.060361,11.8753743 3.08936209,11.8968091 3.12350231,11.9055938 C3.15764252,11.9143785 3.19406533,11.9097781 3.22707667,11.89146 L4.48615264,11.2013369 L4.99732116,10.9195692 L5.26953805,11.1102735 L5.47378924,11.2533638 C5.72978678,11.432766 6.00618133,11.584286 6.30111343,11.7064706 L6.83934617,11.9337424 L6.83934617,12.2520988 L6.83934039,13.8702852 C6.83969861,13.9421713 6.90126384,14.0002023 6.97856275,13.9999719 L9.02636622,13.9999943 C9.06166523,14.0003149 9.09562866,13.987189 9.12066884,13.963549 C9.14570902,13.9399091 9.15973933,13.907725 9.1596226,13.8726044 L9.1596226,11.9337424 L9.46582769,11.8044456 L9.70082259,11.7052283 C9.95723824,11.5987849 10.2018719,11.468571 10.4311881,11.3165285 L11.0006164,10.9176097 Z M10.1811147,12.5835709 L10.1811126,13.8880357 C10.1821131,14.184447 10.0590208,14.4688915 9.83933531,14.6778227 C9.61964986,14.8867539 9.321678,15.0027611 9.01689558,14.9999501 L6.98473205,14.9999476 C6.34303164,15.001895 5.82090187,14.506107 5.81785809,13.8896228 L5.81785809,12.5835987 C5.51099877,12.449891 5.21829517,12.2882381 4.94383674,12.1009049 L3.7637999,12.7524713 C3.49587477,12.9023115 3.17632592,12.94297 2.87680304,12.8653305 C2.57728015,12.787691 2.32284438,12.5982495 2.17328936,12.3440863 L1.15766415,10.6611763 C1.00239399,10.4056297 0.959693488,10.1014711 1.03897726,9.81576138 C1.11826103,9.53005164 1.31301842,9.28625275 1.58070587,9.13789796 L2.7630831,8.48396469 C2.73107145,8.16224046 2.73114613,7.83834785 2.76327814,7.51692595 L1.58592848,6.86575578 C1.31579622,6.71879797 1.11870003,6.47410829 1.03894077,6.18668508 C0.959181522,5.89926188 1.0034508,5.5932192 1.15889557,5.34209659 L2.17497728,3.65745277 C2.49532615,3.12487939 3.20596283,2.941462 3.76339148,3.24807599 L4.94569538,3.90090402 C5.21983527,3.71283063 5.51232167,3.55041744 5.81991139,3.41557594 L5.81991139,2.11032732 C5.81991139,1.49400018 6.33833074,1 6.98413107,1 L9.01689558,1 C9.65899531,1 10.1821419,1.4963421 10.1821419,2.11032732 L10.1821419,3.41610288 C10.4908223,3.54965668 10.7841717,3.7115556 11.0564885,3.89886562 L12.2362001,3.2474788 C12.5041252,3.09763863 12.8236741,3.05698003 13.123197,3.13461955 C13.4227198,3.21225907 13.6771556,3.40170058 13.8267106,3.65586376 L14.8423359,5.33877376 C14.997606,5.59432034 15.0403065,5.89847895 14.9610227,6.1841887 C14.881739,6.46989844 14.6869816,6.71369733 14.4192941,6.86205212 L13.2369169,7.51598539 C13.2689285,7.83770962 13.2688539,8.16160223 13.2367219,8.48302413 L14.4140715,9.1341943 C14.6842038,9.28115211 14.8813,9.52584179 14.9610592,9.813265 C15.0408185,10.1006882 14.9965492,10.4067309 14.8411044,10.6578535 L13.8250227,12.3424973 C13.5046739,12.8750707 12.7940372,13.0584881 12.2366085,12.7518741 L11.0555381,12.0997271 C10.7802685,12.2879666 10.4868062,12.4502656 10.1811147,12.5835709 Z M8,11 C6.34314575,11 5,9.65685425 5,8 C5,6.34314575 6.34314575,5 8,5 C9.65685425,5 11,6.34314575 11,8 C11,9.65685425 9.65685425,11 8,11 Z M8,10 C9.1045695,10 10,9.1045695 10,8 C10,6.8954305 9.1045695,6 8,6 C6.8954305,6 6,6.8954305 6,8 C6,9.1045695 6.8954305,10 8,10 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='UI/16/settigns-gearwheel' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='gear-shape' fill-rule='nonzero'%3E%3C/g%3E%3Cg id='colors/MAIN/black' mask='url(%23mask-2)' fill='%23000000' fill-opacity='0.9' opacity='0.900000036'%3E%3Crect id='color' x='0' y='0' width='16' height='16' rx='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon__arrow_dark {
  @extend .icon;
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EUI/16/arrows/down-semibold_icon%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='8 8.5 11 5.5 12 6.5 8 10.5 4 6.5 5 5.5'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='UI/16/arrows/down-semibold' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='arrow_down' fill-rule='nonzero'%3E%3C/g%3E%3Cg id='colors/MAIN/black' mask='url(%23mask-2)' fill='%23000000' fill-opacity='0.9' opacity='0.900000036'%3E%3Crect id='color' x='0' y='0' width='16' height='16' rx='2'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon_checkbox_unchecked_disabled {
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Eatoms/checkbox/icons/unchecked/disabled%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='atoms/checkbox/icons/unchecked/disabled' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='0.16'%3E%3Cpath d='M0,4.0085302 C0,2.8992496 0.901950359,2 2.0085302,2 L9.9914698,2 C11.1007504,2 12,2.90195036 12,4.0085302 L12,11.9914698 C12,13.1007504 11.0980496,14 9.9914698,14 L2.0085302,14 C0.899249601,14 0,13.0980496 0,11.9914698 L0,4.0085302 Z M1,3.99539757 L1,12.0046024 C1,12.5443356 1.44565467,13 1.99539757,13 L10.0046024,13 C10.5443356,13 11,12.5543453 11,12.0046024 L11,3.99539757 C11,3.4556644 10.5543453,3 10.0046024,3 L1.99539757,3 C1.4556644,3 1,3.44565467 1,3.99539757 Z' id='box' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon_checkbox_unchecked_hover {
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Eatoms/checkbox/icons/unchecked/hover%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='atoms/checkbox/icons/unchecked/hover' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0,4.0085302 C0,2.8992496 0.901950359,2 2.0085302,2 L9.9914698,2 C11.1007504,2 12,2.90195036 12,4.0085302 L12,11.9914698 C12,13.1007504 11.0980496,14 9.9914698,14 L2.0085302,14 C0.899249601,14 0,13.0980496 0,11.9914698 L0,4.0085302 Z M1,3.99539757 L1,12.0046024 C1,12.5443356 1.44565467,13 1.99539757,13 L10.0046024,13 C10.5443356,13 11,12.5543453 11,12.0046024 L11,3.99539757 C11,3.4556644 10.5543453,3 10.0046024,3 L1.99539757,3 C1.4556644,3 1,3.44565467 1,3.99539757 Z' id='box' fill='%23619AFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon_checkbox_unchecked_invalid {
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Eatoms/checkbox/icons/invalid/unchecked/normal%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='atoms/checkbox/icons/invalid/unchecked/normal' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0,4.0085302 C0,2.8992496 0.901950359,2 2.0085302,2 L9.9914698,2 C11.1007504,2 12,2.90195036 12,4.0085302 L12,11.9914698 C12,13.1007504 11.0980496,14 9.9914698,14 L2.0085302,14 C0.899249601,14 0,13.0980496 0,11.9914698 L0,4.0085302 Z M1,3.99539757 L1,12.0046024 C1,12.5443356 1.44565467,13 1.99539757,13 L10.0046024,13 C10.5443356,13 11,12.5543453 11,12.0046024 L11,3.99539757 C11,3.4556644 10.5543453,3 10.0046024,3 L1.99539757,3 C1.4556644,3 1,3.44565467 1,3.99539757 Z' id='box' fill='%23F15866'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon_checkbox_unchecked_normal {
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Eatoms/checkbox/icons/unchecked/normal%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='atoms/checkbox/icons/unchecked/normal' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='0.32'%3E%3Cpath d='M0,4.0085302 C0,2.8992496 0.901950359,2 2.0085302,2 L9.9914698,2 C11.1007504,2 12,2.90195036 12,4.0085302 L12,11.9914698 C12,13.1007504 11.0980496,14 9.9914698,14 L2.0085302,14 C0.899249601,14 0,13.0980496 0,11.9914698 L0,4.0085302 Z M1,3.99539757 L1,12.0046024 C1,12.5443356 1.44565467,13 1.99539757,13 L10.0046024,13 C10.5443356,13 11,12.5543453 11,12.0046024 L11,3.99539757 C11,3.4556644 10.5543453,3 10.0046024,3 L1.99539757,3 C1.4556644,3 1,3.44565467 1,3.99539757 Z' id='box' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}

.icon_checkbox_unchecked_focus {
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Eatoms/checkbox/icons/unchecked/focus%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='atoms/checkbox/icons/unchecked/focus' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0,4.0085302 C0,2.8992496 0.901950359,2 2.0085302,2 L9.9914698,2 C11.1007504,2 12,2.90195036 12,4.0085302 L12,11.9914698 C12,13.1007504 11.0980496,14 9.9914698,14 L2.0085302,14 C0.899249601,14 0,13.0980496 0,11.9914698 L0,4.0085302 Z M1,3.99539757 L1,12.0046024 C1,12.5443356 1.44565467,13 1.99539757,13 L10.0046024,13 C10.5443356,13 11,12.5543453 11,12.0046024 L11,3.99539757 C11,3.4556644 10.5543453,3 10.0046024,3 L1.99539757,3 C1.4556644,3 1,3.44565467 1,3.99539757 Z' id='box' fill='%234488FF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon_checkbox_checked_disabled {
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Eatoms/checkbox/icons/checked/disabled%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='atoms/checkbox/icons/checked/disabled' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='0.16'%3E%3Cpath d='M0,4.0085302 C0,2.8992496 0.900176167,2 1.99201702,2 L11,2 L10,3 L1.99754465,3 C1.44661595,3 1,3.4556644 1,3.99539757 L1,12.0046024 C1,12.5543453 1.4556644,13 1.99539757,13 L10.0046024,13 C10.5543453,13 11,12.5424361 11,12.0064025 L11,9.5 L12,8.5 L12,11.9988153 C12,13.1040391 11.0980496,14 9.9914698,14 L2.0085302,14 C0.899249601,14 0,13.0980496 0,11.9914698 L0,4.0085302 Z' id='box' fill='%23000000'%3E%3C/path%3E%3Cpolygon id='checkmark' fill='%23000000' points='3.5 6 6.5 9 13.5 2 15 3.5 6.5 12 2 7.5'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
}

.icon_checkbox_checked_hover {
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Eatoms/checkbox/icons/checked/hover%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='atoms/checkbox/icons/checked/hover' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0,4.0085302 C0,2.8992496 0.900176167,2 1.99201702,2 L11,2 L10,3 L1.99754465,3 C1.44661595,3 1,3.4556644 1,3.99539757 L1,12.0046024 C1,12.5543453 1.4556644,13 1.99539757,13 L10.0046024,13 C10.5543453,13 11,12.5424361 11,12.0064025 L11,9.5 L12,8.5 L12,11.9988153 C12,13.1040391 11.0980496,14 9.9914698,14 L2.0085302,14 C0.899249601,14 0,13.0980496 0,11.9914698 L0,4.0085302 Z' id='box' fill='%23619AFF'%3E%3C/path%3E%3Cpolygon id='checkmark' fill='%23619AFF' points='3.5 6 6.5 9 13.5 2 15 3.5 6.5 12 2 7.5'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
}

.icon_checkbox_checked_invalid {
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Eatoms/checkbox/icons/invalid/checked%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='atoms/checkbox/icons/invalid/checked' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0,4.0085302 C0,2.8992496 0.900176167,2 1.99201702,2 L11,2 L10,3 L1.99754465,3 C1.44661595,3 1,3.4556644 1,3.99539757 L1,12.0046024 C1,12.5543453 1.4556644,13 1.99539757,13 L10.0046024,13 C10.5543453,13 11,12.5424361 11,12.0064025 L11,9.5 L12,8.5 L12,11.9988153 C12,13.1040391 11.0980496,14 9.9914698,14 L2.0085302,14 C0.899249601,14 0,13.0980496 0,11.9914698 L0,4.0085302 Z' id='box' fill-opacity='0.8' fill='%23F15866'%3E%3C/path%3E%3Cpolygon id='checkmark' fill='%23F15866' points='3.5 6 6.5 9 13.5 2 15 3.5 6.5 12 2 7.5'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
}

.icon_checkbox_checked_normal {
  background-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3Eatoms/checkbox/icons/checked/normal%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='atoms/checkbox/icons/checked/normal' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0,4.0085302 C0,2.8992496 0.900176167,2 1.99201702,2 L11,2 L10,3 L1.99754465,3 C1.44661595,3 1,3.4556644 1,3.99539757 L1,12.0046024 C1,12.5543453 1.4556644,13 1.99539757,13 L10.0046024,13 C10.5543453,13 11,12.5424361 11,12.0064025 L11,9.5 L12,8.5 L12,11.9988153 C12,13.1040391 11.0980496,14 9.9914698,14 L2.0085302,14 C0.899249601,14 0,13.0980496 0,11.9914698 L0,4.0085302 Z' id='box' fill-opacity='0.32' fill='%23000000'%3E%3C/path%3E%3Cpolygon id='checkmark' fill='%234488FF' points='3.5 6 6.5 9 13.5 2 15 3.5 6.5 12 2 7.5'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
}

.content {
  width: 100%;
  height: calc(100vh - 56px);
  padding-top: $offset-40;
  padding-left: $offset-40;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  overflow: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $offset-24;
}

.col {
  display: flex;
  min-height: 1px;

  &:not(:last-of-type) {
    margin-right: $offset-32;
  }

  &_sm {
    width: 300px;
  }
}

input {
  @extend .text_primary;

  width: 100%;
  height: 32px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 2px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.32);
  }

  &:focus {
    border-color: #4488FF;
    caret-color: #4488FF;
  }

  &[disabled] {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.32);

    &::placeholder,
    &+label {
      color: rgba(0, 0, 0, 0.32);
    }
  }
}

label {
  @extend .text_secondary;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width:100%;

  &_error input {
    border-color: #F15866;
    caret-color: currentColor;

    &+label {
      color: #F15866;
    }
  }
}


.button {
  display: inline-block;
  height: 32px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.90);
  user-select: none;
  vertical-align: top;
  cursor: pointer;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;

  &_primary {
    background-color: #4488FF;
    padding: 0 16px;

    &:hover {
      background: #69A0F6;
    }

    &:active,
    &:focus {
      background: #3D7AE6;
    }

    &[disabled] {
      border: 1px solid rgba(0, 0, 0, 0.16);
      background-color: transparent;
      color: rgba(0, 0, 0, 0.32);
    }
  }

  &_secondary {
    color: rgba(0, 0, 0, 0.90);

    &:hover {
      color: #4488FF;
    }

    &:active,
    &:focus {
      color: #3D7AE6;
    }

    &[disabled] {
      color: rgba(0, 0, 0, 0.32);
    }
  }
}

.button-group {
  .button:not(:last-of-type) {
    margin-right: $offset-24;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  &::-ms-expand {
  display: none;
  }
}

.custom-select {
  @extend .text_primary;

  position: relative;
  width: 100%;
  height: 32px;
  padding: 5px 26px 5px 10px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 2px;
  cursor: pointer;

  &:focus {
    border-color: #4488FF;
    outline: none;
    caret-color: #4488FF;
  }

  &[disabled] {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.32);
    pointer-events: none;

    &::placeholder,
    &+label {
      color: rgba(0, 0, 0, 0.32);
    }

    & .custom-select__select::after {
      opacity: 0.48;
    }
  }

  select {
    display: none;
  }

  &__select {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;

    &:after {
    @extend .icon__arrow_dark;

    content: "";
    position: absolute;
    right: 8px;
    bottom: 8px;
    background-size: cover;
    pointer-events: none;
    overflow: hidden;

    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    transform: translateY(1px);
    display: flex;
    flex-direction: column;
    max-height: 224px;
    padding: $offset-8 0;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    overflow: auto;
  }

  &__dropdown div {
    @extend .text_primary;

    height: 32px;
    padding: 0 32px;
    line-height: 32px;
    cursor: pointer;
    user-select: none;
  }

  &__dropdown div:hover, .active {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &_hidden {
    display: none;
  }
}

.custom-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    @extend .text_primary;

    position: relative;
    display: flex;
    margin-bottom: $offset-8;
    padding: 0;
    cursor: pointer;
    user-select: none;
  }

  // Box.
  & + label:before {
    @extend .icon_checkbox_unchecked_normal;

    content: '';
    display: inline-flex;
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  &:hover + label:before {
    @extend .icon_checkbox_unchecked_hover;
  }

  &:focus + label:before {
    @extend .icon_checkbox_unchecked_focus;
  }

  &:checked + label:before {
    @extend .icon_checkbox_checked_normal;
  }

  &:checked.invalid + label:before {
    @extend .icon_checkbox_checked_invalid;
  }

  &.invalid + label:before {
    @extend .icon_checkbox_unchecked_invalid;
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  &:disabled + label:before {
    @extend .icon_checkbox_unchecked_disabled;
  }

}

.checkbox__title {
  display: inline-flex;
  flex:1;
}

.link {
  @extend .text_primary;

  color: #4488FF;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &_offset {
    margin-left: $offset-24;
  }
}
